.table2{
  background:#dddddd;
  padding:2px 2px 2px 2px;
}
ul{
    text-align: center;
}
li{
  display: inline-block;
  font-size: 15px;

}
a{
  text-decoration: none;
}
a.lisuto{
  display: block;
  width: 150px;
  line-height: 50px;
}

img.topimage{
  zoom:0.4;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body{
  background-clip: border-box;
}
div.bag{
  background-color: #ffffff;
}
